body{
    margin: 0;
}

* {
    box-sizing: border-box;
}

.top-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 700px;
    height: 600px;
    z-index: -1;
}

header {
    width: 100%;
    padding: 30px 150px 0px 150px;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header nav .nav-buttons {
    margin-right: 50px;
}

header nav .nav-buttons button {
    background-color: transparent;
    color:white;
    border: 0;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    font-size: 10pt;
}

header nav .sign-in {
    background-color: transparent;
    color:white;
    border: 1px white solid;
    border-radius: 5px;
    outline: 0;
    padding: 11px 25px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 12pt;
}

header nav .sign-up {
    background-color: black;
    color:white;
    border: 0;
    border-radius: 5px;
    outline: 0;
    padding: 13px 25px;
    cursor: pointer;
    font-size: 12pt;
}

header .content {
    margin-top: 90px;
}

header .content .start {
    width: 100%;
    display: flex;
    flex-direction: row;
}

header .content .start .texts {
    width: 50%;
    padding-right: 60px;
    padding-top: 18px;
}

header .content .start .texts p {
    font-size: 14pt;
}

header .content .start .texts button {
    background-color: rgb(67,43,153);
    color: white;
    border: 1px white solid;
    outline: 0;
    padding: 16px 40px;
}

header .content .start .picture {
    width: 50%;
    position: relative;
}

header .content .start .image1 {
    width: 100%;
}

header .content .start .image2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

header .content .tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

header .content .tags div{
    width: 24%;
}

header .content .tags div .active {
    background-color: rgb(67,43,153);
}

header .content .tags button {
    background-color: white;
    border: 1px solid rgb(67,43,153);
    border-radius: 5px;
    outline: 0;
}